= render 'repositories/share/form', repository: @repository, repositories: @repositories

= render 'share/panel_tab', repository: @repository, page_content_path: 'deliverables/panel_content', deliverables: @deliverables
