= render 'repositories/share/form'

nav.panel.has-background-grey-lighter.mb-0
  p.panel-tabs.has-background-white.is-justify-content-left.pl-3.is-size-6
    = link_to '担当 Issue',     repository_assigned_issues_path(@repository)
    = link_to 'レビュー Issue', repository_reviewed_issues_path(@repository)
    = link_to '作成 Issue',     repository_created_issues_path(@repository)
    = link_to '作成 Wiki',      repository_wikis_path(@repository)
    = link_to '全て表示',       repository_deliverables_path(@repository), class: 'is-active has-background-grey-lighter'

  .main-panel.px-5.pt-5.pb-3.my-0
    .clipboard_write_button-container
      .button-conainer.py-2
        button.button#clipboard_write_button
          i.fa-regular.fa-copy
          | マークダウンでコピーする
    .deliverable-container.py-3.px-2.mx-auto
      section.deliverable-section.pt-3.pb-5.px-4
        h2.is-size-4 Pull Request

        table.table.is-bordered.is-striped.is-hoverable.is-fullwidth
          thead
            tr
              th Point
              th Issue
              th PR
          tbody
            - @assigned_issues.each do |assigned_issue|
              tr
                td = assigned_issue.point
                td = assigned_issue.title
                td #000
            tr
              td = @assigned_issues.sum { |issue| issue.point }
              td total
              td

      section.deliverable-section.pt-3.pb-5.px-4
        h2.is-size-4 Review
        table.table.is-bordered.is-striped.is-fullwidth
          thead
            tr
              th Point
              th Issue
              th PR
          tbody
            - @reviewed_issues.each do |reviewed_issue|
              tr
                td = reviewed_issue.point
                td = reviewed_issue.title
                td #000

      section.deliverable-section.pt-3.pb-5.px-4
        h2.is-size-4 その他

        .sub-section.pt-4
          h3.is-size-4 Issue
          | バグ発見の報告や改善提案等に関して、私が作成した Issue です。

          ul.menu-list
            - @created_issues.each do |created_issue|
                li
                  a = created_issue.title

        .sub-section.pt-4
          h3.is-size-4 Wiki
          | 作業効率化・負荷低減を目的として、私が作成した Wikiページです。

          ul.menu-list
            - @wikis.each do |wiki|
                li
                  a = wiki.title
