= render 'repositories/share/form', repository: @repository, repositories: @repositories

= render 'share/panel_tab', repository: @repository, page_content_path: 'share/panel_content', deliverables: @created_issues
