.bg-white.border-b.hover:bg-gray-100
  .px-6.py-3.font-bold.text-slate-700
    .block.w-fit.hover:text-blue-600
      = link_to issue.url, { target: '_blank', rel: 'noopener noreferrer' } do
        = issue.title
    .flex.pt-2
      .mr-2.text-center.text-sm.font-medium.text-slate-500.my-auto
        .px-2
          = "##{issue.number}"
      - issue.labels.each do |label|
        = render 'label', label:
