= render 'users/meta_tags', user: @user

- if session[:newspaper]
  = turbo_frame_tag :main, data: { turbo_action: :advance }, src: users_loading_path, loading: :lazy do
    = render 'loading'
- else
  = turbo_frame_tag :main, data: { turbo_action: :advance } do
    = render 'users/page_header', repository: @repository, user: @user
    = render 'users/page_tabs'
    = render 'users/page_body', items: @issues

    = render 'shared/flash'
