.bg-white.border-b.border-x.border-gray-400.m-0.p-3.hover:bg-slate-100
  = link_to issue.url, { target: '_blank', rel: 'noopener noreferrer' } do
    .link.link-hover.text-black.hover:text-blue-700
      .ml-2.h-fit.text-sm.text-slate-800
        = issue.title
    .flex.pt-2
      .text-center.text-xs.text-slate-500.my-auto
        p.w-12
          = "##{issue.number}"
      = render issue.labels
