= turbo_frame_tag 'main', data: { turbo_action: :advance } do
  = render 'repositories/shared/selector', registed_repositories: @registed_repositories, repository: @repository, registration: @registration

  = turbo_frame_tag 'issues-list', class: 'flex flex-col flex-grow', data: { turbo_action: :advance } do
    = render 'repositories/shared/tabs', repository: @repository
    .bg-gray-50.pt-5.pb-10.flex-grow
      .px-10.mx-auto.max-w-screen-lg
        - if @issues.count.zero?
          = render 'repositories/shared/nothing'
        - else
          .relative.mt-4.mx-3.overflow-x-auto.shadow-md.sm:rounded-lg
            .w-full.text-sm.text-left.rtl:text-right.text-gray-500.dark:text-gray-400
              .px-6.py-3.text-gray-50.font-semibold.bg-slate-700.dark:bg-gray-900.border-b.dark:border-gray-700
                = "Total #{@issues.count}"
              = render @issues
