/ .main-panel.px-5.pt-5.pb-3.my-0
div.bg-indigo-50.h-full.pt-5.pb-6
  - if deliverables.count.zero?
    .text-center.mt-8
      .sad-mark.text-7xl
        i.fa-regular.fa-face-sad-tear
      .not-found.font-medium.text-2xl.pt-4
        | 成果物が見つかりませんでした
  - else
    div.max-w-3xl.mx-auto
      .w-fit.ml-auto.mb-1.pr-3
        = page_entries_info deliverables
      .border-b.border-gray-400
        - deliverables.each do |deliverable|
          = link_to '#', class: 'block bg-white border-t border-x border-gray-400 m-0' do
            .link.link-hover.text-black.hover:text-blue-700
              .py-3.px-4.h-fit
                = deliverable.title
