= form_with model: repository do |f|
  - if repository.errors.any?
    div.has-text-centered.mb-3 style="color: red"
      h2 = "#{pluralize(repository.errors.count, "error")} prohibited this repository from being saved:"
      ul
        - repository.errors.each do |error|
          li = error.full_message

  .container.py-2.is-flex.is-justify-content-center
    .control.mx-auto
      - repositories.each do |repo|
        .mb-2.has-text-lefted
          = f.radio_button :name, repo
          = f.label :name, value: repo, class: 'radio ml-2 is-size-4'

  .mt-4.has-text-centered
    = f.submit '追加', class: 'button'
