/ .main-panel.px-5.pt-5.pb-3.my-0
.bg-indigo-50.h-full.pt-5.pb-6
  .max-w-3xl.mx-auto
    - if deliverables.count.zero?
      .text-center.mt-16
        .sad-mark.text-7xl
          i.fa-regular.fa-face-sad-tear
        .not-found.font-medium.text-2xl.pt-4
          | 成果物が見つかりませんでした
    - else
      .w-fit.ml-auto.mb-1.pr-3
        = page_entries_info deliverables
      .border-b.border-gray-400
        - deliverables.each do |deliverable|
          = link_to deliverable.url, { target: '_blank', rel: 'noopener noreferrer', class: 'block bg-white border-t border-x border-gray-400 m-0 py-3 px-3 hover:bg-slate-100' } do
            .link.link-hover.text-black.hover:text-blue-700
              .ml-2.h-fit.text-sm.text-slate-800
                = deliverable.title
            -if deliverable.class == Issue
              .flex.pt-2
                p.text-center.text-xs.text-slate-500.ml-2.my-auto
                  = "##{File.basename deliverable.url}"
                .badge.bg-amber-200.border-2.border-amber-500.text-amber-600.text-xs.font-medium.my-auto.mx-4
                  = deliverable.point

.bg-indigo-50.pb-5
  .w-4/5.mx-auto
    = paginate deliverables, window: 1, left: 5, outer_window: 1
