div.border-b.border-gray-400.mb-0
  .flex.justify-start
    = tab_to '担当 Issue',     repository_issues_assign_index_path(repository), 'ml-3 mr-2 '
    = tab_to 'レビュー Issue', repository_issues_review_index_path(repository), 'mr-2'
    = tab_to '作成 Issue',     repository_issues_create_index_path(repository),  'mr-2'
    = tab_to '作成 Wiki',      repository_wikis_path(repository) , 'mr-2'
    = tab_to '全て表示',       repository_all_index_path(repository)
