.flex.gap-x-3.py-4.px-4.w-full.mx-auto.max-w-screen-lg
  .flex.items-center
    = image_tag(repository.avatar_url, class: 'w-8 h-8 rounded-full') if repository.avatar_url
    .flex.gap-2.ml-1.mr-3.py-1.px-2.text-lg.font-semibold.text-slate-700.bg-transparent.border-0.border-b-2.border-blue-400
      = repository.name
    = button_to repository_path, form: { id: 'repository_update_button' }, method: :patch, data: { turbo_confirm: '更新を実行しますか？' }, class: 'h-9 flex items-center text-gray-800 bg-white border border-gray-300 hover:bg-gray-200 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 focus:outline-none' do
      i.fa-solid.fa-arrow-rotate-right.fa-rotate-270.mr-1
      | 最新情報へ更新
