- content_for :js do
  = javascript_import_module_tag 'clipboard-write'
  = javascript_import_module_tag 'repository-delete-button'
  = javascript_import_module_tag 'repository-selector'

.flex.flex-row.items-center.py-4.px-3
  = collection_select :repository, :id, repositories, :id, :name, {}, class: 'select select-bordered text-lg py-0'

  .btn.bg-white.border-gray-300.ml-3.hover:bg-error
    i.fa-solid.fa-minus
    | 削除

  = link_to new_repository_path, class: 'btn bg-white border border-gray-300 ml-auto' do
    i.fa-solid.fa-plus
    | 新しいリポジトリを追加

