= turbo_frame_tag 'form' do

  div(data-controller='loading-modal' data-loading-modal-status-value='close')

  h3.text-center.text-2xl.text-slate-700.my-16
    | リポジトリ選択して追加してください

  = form_with model: @registration do |f|
    .max-w-3xl.mx-auto.border-2.border-base-600.rounded-md
      .flex.flex-col.divide-y-2.divide-base-600
        - @repositories.each do |repository|
          = f.label :repository_id, value: repository.id do
            = content_tag :div, class: 'py-5 hover:bg-base-200' do
              div.flex
                .radio-2.radio-primary.mx-4
                  = f.radio_button :repository_id, repository.id
                .avatar.w-8.mr-2
                  = image_tag repository.avatar if repository.avatar
                = content_tag :p, repository.name, class: 'text-lg'
              - if repository.description
                = content_tag :p, repository.description, class: 'pt-2 pl-16 text-sm'

    .my-4.text-center
      = f.submit '追加', disabled: true, class: 'text-gray-50 bg-gray-400 cursor-not-allowed font-medium rounded-lg text-sm px-5 py-2.5 text-center'
