h3.ml-3.my-2.has-text-left.is-size-4
  = @repository.name

nav.panel
  p.panel-tabs.is-justify-content-left.ml-3.is-size-6
    a.is-active
      | 担当 Issue
    a
      | レビュー Issue
    a
      | 作成 Issue
    a
      | 作成 Wiki
  .main-panel.has-background-grey-lighter.px-5.pt-5.pb-3.m-0
    - @assigned_issues.each do |assigned_issue|
      .has-background-white.mb-3
        a.panel-block.has-text-left.is-size-6
          = assigned_issue.title
