= render 'repositories/share/form', repository: @repository, repositories: @repositories

= render 'share/panel_tab', repository: @repository, page_content_path: 'share/panel_content', deliverables: @assigned_issues

.pagination-container.has-background-grey-lighter
  .pagination-width
    = paginate @assigned_issues
