.px-10.pb-10.flex-grow.w-11/12.max-w-screen-lg.mx-auto
  h1.text-2xl.text-slate-600.font-bold.pb-2.my-10.text-center
    .flex.justify-center.items-center
      | チーム開発プラクティスでの
      .px-3.text-blue-600.border-b-2.border-blue-600
        = "#{@user.login}"
      | さんの取り組み

  = render 'table', header: 'Pull Request', issues: @assigned_issues
  = render 'table', header: 'Review',       issues: @reviewed_issues

  - unless @issues.count.zero? and @wikis.count.zero?
    h2.text-2xl.text-slate-600.font-bold.border-b.border-gray-400.pb-2.mb-3
      | その他
    = render 'list', header: 'Issue', content: 'バグ発見の報告や改善提案を目的として作成したIssueです。', items: @issues unless @issues.count.zero?
    = render 'list', header: 'Wiki', content: '議事録や作業効率化を目的として作成したWikiページです。', items: @wikis unless @wikis.count.zero?
