= link_to wiki.url, { target: '_blank', rel: 'noopener noreferrer', class: 'block bg-white border-b border-x border-gray-400 m-0 p-3 hover:bg-slate-100' } do
  .link.link-hover.text-black.hover:text-blue-700
    .ml-2.h-fit.text-sm.text-slate-800
      = wiki.title
