= render 'repositories/index', registed_repositories: @registed_repositories, repository: @repository, registration: @registration do
  - if @wikis.count.zero?
    = render 'repositories/shared/nothing'
  - else
    .w-fit.ml-auto.mb-1.pr-3
      = "全 #{ @wikis.count } 件"
    .border-t.border-gray-400
      = render @wikis
