= turbo_frame_tag 'main', data: { turbo_action: :advance } do
  h3.text-center.text-2xl.my-16
    | リポジトリを追加してください

  = form_with model: @registration do |f|
    .max-w-3xl.mx-auto.border-2.border-base-600.rounded-md
      .flex.flex-col.divide-y-2.divide-base-600
        - @repositories.each do |repository|
          = f.label :repository_id, value: repository.id do
            = content_tag :div, class: 'py-5 hover:bg-base-200' do
              div.flex
                .radio-2.radio-primary.mx-4
                  = f.radio_button :repository_id, repository.id
                .avatar.w-8.mr-2
                  = image_tag repository.avatar
                = content_tag :p, repository.name, class: 'text-lg'
              - if repository.description
                = content_tag :p, repository.description, class: 'pt-2 pl-16 text-sm'

    .my-4.text-center
      = f.submit '追加', disabled: true, class: 'h-9 items-center text-gray-50 bg-blue-600 border border-blue-700 text-gray-50 dark:text-gray-50 hover:bg-blue-800 focus:ring-4 focus:ring-gray-300 font-bold rounded-lg text-sm px-4 lg:px-5 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800'
