.flex.flex-col.justify-center.w-52.items-center.p-4.bg-gray-50.border.border-gray-300.rounded-lg.shadow.dark:bg-gray-800.dark:border-gray-700
  = icon(icon, { class: 'w-[120px] h-[120px] text-slate-700 dark:text-white mx-auto' })
  .text-center.text-slate-700.font-medium
    = item_type
    br
    = item_name
