footer.footer.footer-center.bg-primary.p-4.text-base-content.gap-y-2
  nav.grid.grid-flow-col.gap-4
    = link_to '利用規約', page_path('terms_of_service'), class: 'link link-hover'
    = link_to 'プライバシーポリシー', page_path('privacy_policy'), class: 'link link-hover'
  aside
    p ymmtd0x0b © 2023
