.px-4.text-sm.font-medium.text-center.text-gray-500.border-b.border-gray-300.w-full.mx-auto.max-w-screen-lg
  ul.flex.flex-wrap.-mb-px
    li.me-2
      = tab_to '担当 Issue', user_assigned_issues_path(current_user)
    li.me-2
      = tab_to 'レビュー Issue', user_reviewed_issues_path(current_user)
    li.me-2
      = tab_to '作成 Issue', user_issues_path(current_user)
    li.me-2
      = tab_to '作成 Wiki', user_wikis_path(current_user)
    li.me-2
      = tab_to '全て表示', user_contributions_path(current_user)
