.flex.flex-col.justify-center.w-52.items-center.p-4.bg-gray-50.border.border-gray-300.rounded-lg.shadow
  = image_tag icon, class: 'w-[120px] h-[120px] mx-auto'
  .text-center.text-slate-700.font-medium
    = item_type
    br
    = item_name
