div
  h1.text-center.text-5xl.font-semibold.pt-16
    | DevContribution
  p.text-center.text-2xl.pt-10
    | GitHubにおけるあなたの成果物の一覧を
    br
    | 簡単に作成できるサービスです

div.flex.justify-around.space-x-8.mx-auto.max-w-fit.py-16
  .card.w-52.h-fit.shadow-lg.text-center.border-4
    span.text-8xl.pt-5.pb-3.m-0
      i.fa-solid.fa-code-merge
    .card-body.p-0.py-3
      | あなたが担当した
      br
      | Issue

  .card.w-52.h-fit.shadow-lg.text-center.border-4
    span.text-8xl.pt-5.pb-3.m-0
      i.fa-regular.fa-comments
    .card-body.p-0.py-3
      | あなたがレビューした
      br
      | Issue

  .card.w-52.h-fit.shadow-lg.text-center.border-4
    span.text-8xl.pt-5.pb-3.m-0
      i.fa-regular.fa-paste
    .card-body.p-0.py-3
        | あなたが作成した
        br
        | Issue

  .card.w-52.h-fit.shadow-lg.text-center.border-4
    span.text-8xl.pt-5.pb-3.m-0
      i.fa-regular.fa-file-lines
    .card-body.p-0.py-3
        | あなたが作成した
        br
        | Wikiページ

.text-center.pt-5.text-xl
  | 初めて利用する方は、最初にアカウント登録して
  br
  | 一覧表示したいリポジトリを選択してください

.py-8.text-center
  = button_to 'GitHubアカントを連携する', '/auth/github', method: :post, data: { turbo: false }, class: 'btn btn-outline'
