.mb-10
  h2.text-2xl.text-slate-600.font-bold.border-b.border-gray-400.pb-2.mb-3
    = haeder

  .relative.mt-4.mx-3.overflow-x-auto.shadow-md.sm:rounded-lg
    table.w-full.text-sm.text-left.rtl:text-right.text-gray-500.dark:text-gray-400
      thead.text-gray-50.bg-gray-50.dark:bg-gray-700.dark:text-gray-400
        tr.odd:bg-slate-700.odd:dark:bg-gray-900.even:bg-gray-50.even:dark:bg-gray-800.border-b.dark:border-gray-700
          th.px-6.py-3(col='col')
            | Point
          th.px-6.py-3(col='col')
            | Issue
          th.px-6.py-3(col='col')
            | PR
      tbody
        - issues.each do |issue|
          tr.odd:bg-white.text-gray-800.odd:dark:bg-gray-900.even:bg-gray-100.even:dark:bg-gray-800.border-b.dark:border-gray-700
            td.px-6.py-3
              = issue.point
            td.px-6.py-3
              = link_to issue.title, issue.url, class: 'hover:text-blue-600'
            td.px-6.py-3
              = link_to "##{issue.pull_request.url.slice(/\d+$/)}", issue.pull_request.url, class: 'hover:text-blue-600' if issue.pull_request
      tfoot
        tr.bg-zinc-600.font-semibold.text-gray-50.dark:text-white
          th.px-6.py-3
            = issues.sum(&:point)
          td.px-6.py-3
            | Total
          td.px-6.py-3
