section.bg-white.pt-3.pb-5.px-4
  h2.text-2xl.font-bold.border-b.border-gray-400.pb-2.mb-3
    = haeder

  table.table.table-zebra.border.border-gray-400
    thead
      tr.bg-base-300.text-gray-600.border.border-gray-400
        th.border.border-gray-400
          | Point
        th.border.border-gray-400
          | Issue
        th.border.border-gray-400
          | PR
    tbody
      - issues.each do |issue|
        tr.border.border-gray-400
          td.border.border-gray-400
            = issue.point
          td.border.border-gray-400
            = link_to issue.title, issue.url
          td.border.border-gray-400
            = link_to "##{issue.pull_request.url.slice(/\d+$/)}", issue.pull_request.url if issue.pull_request
      tr
        td.border.border-gray-400
          = issues.sum(&:point)
        td.border.border-gray-400
          | total
        td.border.border-gray-400
