.container(data-controller='clipboad')
  .w-fit.ml-auto.mb-5
    button.btn.bg-base-100.border.border-stone-400(data-action='clipboad#copy')
      i.fa-regular.fa-copy
      | クリップボードにコピーする

  .bg-neutral-200.border.border-black.py-3.px-2.mx-auto.my-3(data-clipboad-target='allIssuesTable')
    = render 'table', haeder: 'Pull Request', issues: @assigned_issues
    = render 'table', haeder: 'Review',       issues: @reviewed_issues

    - unless @created_issues.count.zero? and @wikis.count.zero?
      .bg-white.pt-3.pb-5.px-4
        h2.text-2xl.font-bold.border-b.border-gray-400.pb-2.mb-3
          | その他
        = render 'list', header: 'Issue', content: 'バグ発見の報告や改善提案を目的として作成した Issue です。', items: @created_issues unless @created_issues.count.zero?
        = render 'list', header: 'Wiki', content: '議事録や作業効率化を目的として作成した Wikiページです。', items: @wikis unless @wikis.count.zero?

