= turbo_frame_tag 'main', data: { turbo_action: :advance }, src: lazy_first_login_path do

  div(data-controller='loading-modal' data-loading-modal-status-value="loading")

  .flex.gap-x-3.py-4.px-4.mt-px.w-full.mx-auto.max-w-screen-lg.animate-pulse(role='status')
    .flex.items-center.divide-base-600
      .w-8.h-8.rounded-full.bg-gray-400
      .mr-2.flex.flex-col.align-bottom
        .mx-3.mt-2.h-5.bg-gray-400.rounded-full.w-48
        .ml-1.mt-2.border-0.border-b-2.border-blue-400.w-52
      = button_to '#', class: 'h-9 flex items-center text-gray-800 bg-white border border-gray-300 hover:bg-gray-200 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 focus:outline-none' do
        i.fa-solid.fa-arrow-rotate-right.fa-rotate-270.mr-1
        | 最新情報へ更新

  .px-4.text-sm.font-medium.text-center.text-gray-500.border-b.border-gray-300.w-full.mx-auto.max-w-screen-lg.animate-pulse(role='status')
    ul.flex.flex-wrap.-mb-px
      li.me-2
        .inline-block.p-4.text-blue-600.border-b-2.border-blue-600.rounded-t-lg.active
          | 担当 Issue
      li.me-2
        .inline-block.p-4.border-b-2.border-transparent.rounded-t-lg.hover:text-gray-600.hover:border-gray-300
          | レビュー Issue
      li.me-2
        .inline-block.p-4.border-b-2.border-transparent.rounded-t-lg.hover:text-gray-600.hover:border-gray-300
          | 作成 Issue
      li.me-2
        .inline-block.p-4.border-b-2.border-transparent.rounded-t-lg.hover:text-gray-600.hover:border-gray-300
          | 作成 Wiki
      li.me-2
        .inline-block.p-4.border-b-2.border-transparent.rounded-t-lg.hover:text-gray-600.hover:border-gray-300
          | 全て表示

  .bg-gray-50.pt-5.pb-10.flex-grow.animate-pulse(role='status')
    .px-10.mx-auto.max-w-screen-lg
      .relative.mt-4.mx-3.overflow-x-auto.shadow-md.sm:rounded-lg
        .w-full.text-sm.text-left.rtl:text-right.text-gray-500
          .px-6.py-3.text-gray-50.font-semibold.bg-slate-700.border-b
            .mt-1.mb-0.5.h-4.bg-gray-400.rounded-full.w-12
          - (1..7).each do
            .bg-white.border-b.hover:bg-gray-100
              .px-6(class="py-3.5")
                .h-4.bg-gray-400.rounded-full.w-48
                .flex.pt-2
                  .mr-1.text-center.text-sm.font-medium.text-slate-500.my-auto
                    .px-2.mt-px
                      .h-5.bg-gray-400.rounded-full.w-6
                  .flex.items-center
                    .h-5.bg-gray-400.rounded-full.w-10
