---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repositories/123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e0f63e73d0c2948acb905f650ff2bb83264c31a50f71d239fa5a6eb87172c8c4"
      Last-Modified:
      - Wed, 12 Jun 2024 13:27:35 GMT
      Github-Authentication-Token-Expiration:
      - '2024-07-20 01:07:08 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - metadata=read
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1721009884'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"id":123,"full_name":"test/after_repository","owner":{"avatar_url":""}}'
  recorded_at: Mon, 15 Jul 2024 01:18:04 GMT
- request:
    method: get
    uri: https://api.github.com/repos/test/after_repository/labels?page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5f507ae80f1f90d112efe7e30c5be9ebbda4d1e7f7ff7c223a2c5524a26990e0"
      Github-Authentication-Token-Expiration:
      - '2024-07-11 17:13:17 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - issues=read; pull_requests=read
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1720100035'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"id":201,"name":"bug","color":"FF0000"}]'
  recorded_at: Thu, 04 Jul 2024 12:42:37 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:test/after_repository%20is:issue%20assignee:alice
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-07-11 17:13:17 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '29'
      X-Ratelimit-Reset:
      - '1720097018'
      X-Ratelimit-Used:
      - '1'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"items":[{"id":301,"number":301,"title":"バグの修正","labels":[{"id":201}],"user":{"id":"502"},"created_at":"2024-01-13T07:41:50Z","updated_at":"2024-05-20T10:45:40Z"},{"id":302,"number":302,"title":"新機能の追加","labels":[],"user":{"id":"502"},"created_at":"2024-02-19T10:30:02Z","updated_at":"2024-05-20T10:45:14Z"}]}'
  recorded_at: Thu, 04 Jul 2024 12:42:38 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:test/after_repository%20is:pr%20assignee:alice%20-label:release
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-07-11 17:13:17 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '28'
      X-Ratelimit-Reset:
      - '1720097018'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"items":[{"id":401,"number":401,"body":"# Issue\n- #301\n\n# 概要","created_at":"2024-02-23T11:32:30Z","updated_at":"2024-05-20T10:45:03Z"},{"id":402,"number":402,"body":"# Issue\n- #302\n\n# 概要","created_at":"2024-02-23T11:32:30Z","updated_at":"2024-05-20T10:45:03Z"}]}'
  recorded_at: Thu, 04 Jul 2024 12:42:39 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:test/after_repository%20is:pr%20reviewed-by:alice%20review:approved%20-assignee:alice
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-07-11 17:13:17 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1720097018'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"items":[{"id":403,"number":403,"body":"# Issue\n - #303\n\n# 概要","created_at":"2024-02-23T11:32:30Z","updated_at":"2024-05-20T10:45:03Z"},{"id":404,"number":404,"body":"# Issue\n - #304\n\n# 概要","created_at":"2024-02-19T10:30:02Z","updated_at":"2024-05-20T10:45:14Z"}]}'
  recorded_at: Thu, 04 Jul 2024 12:42:40 GMT
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:test/after_repository%20is:issue%20303%20304
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-07-11 17:13:17 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '26'
      X-Ratelimit-Reset:
      - '1720097018'
      X-Ratelimit-Used:
      - '4'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"items":[{"id":303,"number":303,"title":"メタデータの変更","user":{"id":502},"labels":[],"created_at":"2024-02-23T11:32:30Z","updated_at":"2024-05-20T10:45:03Z"},{"id":304,"number":304,"title":"デザインの改修","user":{"id":502},"labels":[],"created_at":"2024-02-19T10:30:02Z","updated_at":"2024-05-20T10:45:14Z"}]}'
  recorded_at: Thu, 04 Jul 2024 12:42:41 GMT
[...]
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:test/after_repository%20is:issue%20author:alice
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-07-11 17:13:17 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '24'
      X-Ratelimit-Reset:
      - '1720097018'
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"items":[{"id":305,"number":305,"title":"バグの報告","user":{"id":"501"},"labels":[],"created_at":"2024-01-13T07:41:50Z","updated_at":"2024-05-20T13:45:40Z"},{"id":306,"number":306,"title":"新機能の提案","user":{"id":"501"},"labels":[],"created_at":"2024-02-19T10:30:02Z","updated_at":"2024-05-20T13:45:14Z"}]}'
  recorded_at: Thu, 04 Jul 2024 12:42:42 GMT
recorded_with: VCR 6.2.0
