---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:test/repository%20is:issue%20assignee:alice
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-05-29 04:06:58 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '27'
      X-Ratelimit-Reset:
      - '1716756354'
      X-Ratelimit-Used:
      - '3'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":3,"incomplete_results":false,"items":[{"id":2150902592,"number":7,"title":"issue_03","user":{"login":"ymmtd0x0b","id":95903475,"avatar_url":"https://avatars.githubusercontent.com/u/95903475?v=4","gravatar_id":"","html_url":"https://github.com/ymmtd0x0b","followers_url":"https://api.github.com/users/ymmtd0x0b/followers","following_url":"https://api.github.com/users/ymmtd0x0b/following{/other_user}","gists_url":"https://api.github.com/users/ymmtd0x0b/gists{/gist_id}","starred_url":"https://api.github.com/users/ymmtd0x0b/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ymmtd0x0b/subscriptions","organizations_url":"https://api.github.com/users/ymmtd0x0b/orgs","repos_url":"https://api.github.com/users/ymmtd0x0b/repos","type":"User","site_admin":false},"labels":[{"id":6425791028,"name":"bug","color":"d73a4a"},{"id":6583252747,"name":"fix","color":"EEAE53"},{"id":6592369166,"name":"1","color":"2E29EA"},{"id":6592370135,"name":"2","color":"16704F"},{"id":6592370574,"name":"3","color":"7D4C0E"},{"id":6592371441,"name":"5","color":"6B245E"}],"created_at":"2024-02-23T11:32:30Z","updated_at":"2024-05-20T10:45:03Z"},{"id":2142040592,"number":2,"title":"issue_02","user":{"login":"ymmtd0x0b","id":95903475,"avatar_url":"https://avatars.githubusercontent.com/u/95903475?v=4","gravatar_id":"","html_url":"https://github.com/ymmtd0x0b","followers_url":"https://api.github.com/users/ymmtd0x0b/followers","following_url":"https://api.github.com/users/ymmtd0x0b/following{/other_user}","gists_url":"https://api.github.com/users/ymmtd0x0b/gists{/gist_id}","starred_url":"https://api.github.com/users/[...]
