---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/search/issues?page=1&per_page=100&q=repo:ymmtd0x0b/for_test2%20is:issue%201%202
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token <GITHUB_ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Github-Authentication-Token-Expiration:
      - '2024-05-29 04:06:58 +0900'
      X-Github-Media-Type:
      - github.v3; format=json
      X-Accepted-Github-Permissions:
      - allows_permissionless_access=true
      X-Github-Api-Version-Selected:
      - '2022-11-28'
      X-Ratelimit-Limit:
      - '30'
      X-Ratelimit-Remaining:
      - '25'
      X-Ratelimit-Reset:
      - '1716756354'
      X-Ratelimit-Used:
      - '5'
      X-Ratelimit-Resource:
      - search
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/ymmtd0x0b/for_test2/issues/2","repository_url":"https://api.github.com/repos/ymmtd0x0b/for_test2","labels_url":"https://api.github.com/repos/ymmtd0x0b/for_test2/issues/2/labels{/name}","comments_url":"https://api.github.com/repos/ymmtd0x0b/for_test2/issues/2/comments","events_url":"https://api.github.com/repos/ymmtd0x0b/for_test2/issues/2/events","html_url":"https://github.com/ymmtd0x0b/for_test2/issues/2","id":2142040592,"node_id":"I_kwDOLEUQKs5_rPIQ","number":2,"title":"issue_02","user":{"login":"ymmtd0x0b","id":95903475,"node_id":"U_kgDOBbde8w","avatar_url":"https://avatars.githubusercontent.com/u/95903475?v=4","gravatar_id":"","url":"https://api.github.com/users/ymmtd0x0b","html_url":"https://github.com/ymmtd0x0b","followers_url":"https://api.github.com/users/ymmtd0x0b/followers","following_url":"https://api.github.com/users/ymmtd0x0b/following{/other_user}","gists_url":"https://api.github.com/users/ymmtd0x0b/gists{/gist_id}","starred_url":"https://api.github.com/users/ymmtd0x0b/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ymmtd0x0b/subscriptions","organizations_url":"https://api.github.com/users/ymmtd0x0b/orgs","repos_url":"https://api.github.com/users/ymmtd0x0b/repos","events_url":"https://api.github.com/users/ymmtd0x0b/events{/privacy}","received_events_url":"https://api.github.com/users/ymmtd0x0b/received_events","type":"User","site_admin":false},"labels":[{"id":6425791028,"node_id":"LA_kwDOLEUQKs8AAAABfwHKNA","url":"https://api.github.com/repos/ymmtd0x0b/for_test2/labels/bug","name":"bug","color":"d73a4a","default":true,"description":"Something
        isn''t working"},{"id":6583252747,"node_id":"LA_kwDOLEUQKs8AAAABiGR3Cw","url":"https://api.github.com/repos/ymmtd0x0b/for_test2/labels/fix","name":"fix","color":"EEAE53","default":false,"description":""},{"id":6592369166,"node_id":"LA_kwDOLEUQKs8AAAABiO-SDg","url":"https://api.github.com/repos/ymmtd0x0b/for_test2/labels/1","name":"1","color":"2E29EA","default":false,"description":""},{"id":6592370135,"node_id":"LA_kwDOLEUQKs8AAAABiO-V1w","url":"https://api.github.com/repos/ymmtd0x0b/for_test2/labels/2","name":"2","color":"16704F","default":false,"description":""},{"id":6592370574,"node_id":"LA_kwDOLEUQKs8AAAABiO-Xjg","url":"https://api.github.com/repos/ymmtd0x0b/for_test2/labels/3","name":"3","color":"7D4C0E","default":false,"description":""},{"id":6592371441,"node_id":"LA_kwDOLEUQKs8AAAABiO-a8Q","url":"https://api.github.com/repos/ymmtd0x0b/for_test2/labels/5","name":"5","color":"6B245E","default":false,"description":""}],"state":"open","locked":false,"assignee":{"login":"ymmtd0x0b","id":95903475,"node_id":"U_kgDOBbde8w","avatar_url":"https://avatars.githubusercontent.com/u/95903475?v=4","gravatar_id":"","url":"https://api.github.com/users/ymmtd0x0b","html_url":"https://github.com/ymmtd0x0b","followers_url":"https://api.github.com/users/ymmtd0x0b/followers","following_url":"https://api.github.com/users/ymmtd0x0b/following{/other_user}","gists_url":"https://api.github.com/users/ymmtd0x0b/gists{/gist_id}","starred_url":"https://api.github.com/users/ymmtd0x0b/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ymmtd0x0b/subscriptions","organizations_url":"https://api.github.com/users/ymmtd0x0b/orgs","repos_url":"https://api.github.com/users/ymmtd0x0b/repos","events_url":"https://api.github.com/users/ymmtd0x0b/events{/privacy}","received_events_url":"https://api.github.com/users/ymmtd0x0b/received_events","type":"User","site_admin":false},"assignees":[{"login":"ymmtd0x0b","id":95903475,"node_id":"U_kgDOBbde8w","avatar_url":"https://avatars.githubusercontent.com/u/95903475?v=4","gravatar_id":"","url":"https://api.github.com/users/ymmtd0x0b","html_url":"https://github.com/ymmtd0x0b","followers_url":"https://api.github.com/users/ymmtd0x0b/followers","following_url":"https://api.github.com/users/ymmtd0x0b/following{/other_user}","gists_url":"https://api.github.com/users/ymmtd0x0b/gists{/gist_id}","starred_url":"https://api.github.com/users/ymmtd0x0b/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ymmtd0x0b/subscriptions","organizations_url":"https://api.github.com/users/ymmtd0x0b/orgs","repos_url":"https://api.github.com/users/ymmtd0x0b/repos","events_url":"https://api.github.com/users/ymmtd0x0b/events{/privacy}","received_events_url":"https://api.github.com/users/ymmtd0x0b/received_events","type":"User","site_admin":false}],"milestone":null,"comments":0,"created_at":"2024-02-19T10:30:02Z","updated_at":"2024-05-20T10:45:14Z","closed_at":null,"author_association":"OWNER","active_lock_reason":null,"body":null,"reactions":{"url":"https://api.github.com/repos/ymmtd0x0b/for_test2/issues/2/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/ymmtd0x0b/for_test2/issues/2/timeline","performed_via_github_app":null,"state_reason":null,"score":1.0},{"url":"https://api.github.com/repos/ymmtd0x0b/for_test2/issues/1","repository_url":"https://api.github.com/repos/ymmtd0x0b/for_test2","labels_url":"https://api.github.com/repos/ymmtd0x0b/for_test2/issues/1/labels{/name}","comments_url":"https://api.github.com/repos/ymmtd0x0b/for_test2/issues/1/comments","events_url":"https://api.github.com/repos/ymmtd0x0b/for_test2/issues/1/events","html_url":"https://github.com/ymmtd0x0b/for_test2/issues/1","id":2080160968,"node_id":"I_kwDOLEUQKs57_LzI","[...]
