/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";

// body {  /* or any parent wrapper */
//   display: flex;
//   flex-direction: column;
//   height: 1000px;
// }

// main {
//   flex: 1;
// }

.field_with_errors {
  display: contents;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

nav.panel {
  height: 100%;
}

.main-panel {
  border-top: solid 1px rgba(150, 150, 150, 0.8);
}

.panel-tabs a {
  color: rgba(150, 150, 150, 1);
  min-width: 130px;
  text-align: center;
  border-radius: 2px 2px 0 0;
  margin-right: 5px;
  margin-bottom: -2px;

  border-top:    solid 1px rgba(150, 150, 150, 0.8);
  border-left:   solid 1px rgba(150, 150, 150, 0.8);
  border-right:  solid 1px rgba(150, 150, 150, 0.8);
  border-bottom: solid 1px rgba(150, 150, 150, 0.8);
}

.panel-tabs a.is-active {
  border-bottom: solid 1px hsl(0, 0%, 86%);
}

.panel-block {
  width: 800px;
}

.pagination-container {
  position: absolute;
  bottom: 55px;
  width: 100%;
}

.pagination-width {
  margin: 0 auto;
  width: 800px;
}

.pagination-link,
.pagination-next,
.pagination-previous {
  background: white;
}

.pagination-entries {
  margin: 0 auto;
  width: 800px;
  text-align: right;
}

a.disable {
  pointer-events: none;
  color: rgba(100, 100, 100, 1);
  background: rgba(150, 150, 150, 0.3);
}

.deliverable-container {
  border: solid 1px black;
  max-width: 900px;
  background: rgba(240, 240, 240, 1);
  margin-bottom: 30px;
}

.deliverable-container table th {
  font-size: 0.9em;
}

.deliverable-section {
  background: white;
}

.deliverable-section h2 {
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: solid 1px rgba(200, 200, 200, 1);
  font-weight: bold;
}

.deliverable-section h3 {
  padding-bottom: 2px;
  margin-bottom: 10px;
  font-weight: bold;
}

.deliverable-section .menu-list {
  list-style-type: disc;
  margin-top: 1em;
  margin-left: 1.5em;
}

.deliverable-section .menu-list a {
  padding-left: 0;
}

.clipboard_write_button-container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: right;
}

.button-conainer {
  width: fit-content;
}
