/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bulma";
@import "font-awesome";

// body {  /* or any parent wrapper */
//   display: flex;
//   flex-direction: column;
//   height: 1000px;
// }

// main {
//   flex: 1;
// }

.field_with_errors {
  display: contents;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  padding: 12px;
}

nav.panel {
  flex: 1;
  padding-bottom: 20px;
}

.main-panel {
  border-top: solid 1px rgba(150, 150, 150, 0.8);
}

.panel-tabs a {
  color: rgba(150, 150, 150, 1);
  min-width: 130px;
  text-align: center;
  border-radius: 2px 2px 0 0;
  margin-right: 5px;
  margin-bottom: -2px;

  border-top:    solid 1px rgba(150, 150, 150, 0.8);
  border-left:   solid 1px rgba(150, 150, 150, 0.8);
  border-right:  solid 1px rgba(150, 150, 150, 0.8);
  border-bottom: solid 1px rgba(150, 150, 150, 0.8);
}

.panel-tabs a.is-active {
  background: hsl(219, 70%, 96%);
  border-bottom: solid 1px hsl(219, 70%, 96%);
}

.panel-block {
  width: 800px;
}

.pagination-container {
  position: absolute;
  bottom: 55px;
  width: 100%;
}

.pagination-width {
  margin: 0 auto;
  width: 800px;
}

.pagination-link,
.pagination-next,
.pagination-previous {
  background: white;
}

.pagination-entries {
  margin: 0 auto;
  width: 800px;
  text-align: right;
}

a.disable {
  pointer-events: none;
  color: rgba(100, 100, 100, 1);
  background: rgba(150, 150, 150, 0.3);
}

.deliverable-container {
  border: solid 1px black;
  max-width: 900px;
  background: rgba(240, 240, 240, 1);
  margin-bottom: 30px;
}

.deliverable-container table th {
  font-size: 0.9em;
}

.deliverable-section {
  background: white;
}

.deliverable-section th,
.deliverable-section td {
  border:solid 1px rgba(100, 100, 100, 0.5);
}

.deliverable-section thead {
  background: rgba(210, 210, 210, 0.7);
}

.deliverable-section tr:hover {
  cursor: pointer;
}

.deliverable-section h2 {
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: solid 1px rgba(200, 200, 200, 1);
  font-weight: bold;
}

.deliverable-section h3 {
  padding-bottom: 2px;
  margin-bottom: 10px;
  font-weight: bold;
}

.deliverable-section .menu-list {
  list-style-type: disc;
  margin-top: 1em;
  margin-left: 1.5em;
}

.deliverable-section .menu-list a {
  padding-left: 0;
}

.clipboard_write_button-container {
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: right;
}

.button-conainer {
  width: fit-content;
  margin-bottom: 5px;
}

.clipboard_write_button-container button {
  border: solid 1px rgba(80, 80, 80, 0.7);
}

[class^="fa"] {
  margin-right: 5px;
}

.control label {
  display: block;
  font-size: 1.5em;
  padding: 20px 20px 20px 20px;
  margin: 0 auto;
  width: 800px;
  border-top: solid 1px gray;
  border-left: solid 1px gray;
  border-right: solid 1px gray;
  cursor: pointer;
  padding-inline-start: 20px;
}

.control label:last-child {
  border-bottom: solid 1px gray;
}

.control label:hover {
  background: rgba(100, 150, 255, 0.2);
}

.control label:has(input[type="radio"]:checked)  {
  background: rgba(100, 150, 255, 0.5);
}

.control .tale {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}

.control input[type="radio"] {
  display: block;
  margin-right: 10px;
}

.control img {
  display: block;
  margin: 0 10px;
  height: 30px;
  width: 30px;
}

.control label .name {
  display: block;
}

.control label .description {
  font-size: 0.6em;
  display: block;
  margin-left: 50px;
}

input[type="radio"] {
  transform: scale(1.5);
}

input[type="submit"] {
  margin: 20px 0;
  font-size: 1.2em;
}

.repository-container {
  padding: 10px 0px 10px 10px;
  display: flex;
  flex-direction: row
}

.sad-mark {
  margin-top: 30px;
  font-size: 4em;
  text-align: center;
}

.not-found {
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
}
