doctype html
html
  head
    title
      | DevContribution
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  body
    header
      = link_to 'DevContribution', root_path
      ul
        - if logged_in?
          li
            = image_tag current_user.image_url, width: 30
            = current_user.name
          li
            = button_to 'ログアウト', logout_path, method: :delete, data: { turbo: false }
          li
            = button_to 'アカウント削除', retirement_path, method: :post, data: { turbo: false }, class: 'button'
        - else
          li
            = button_to 'GitHubアカウントでログイン', '/auth/github', method: :post, data: { turbo: false }
    - if flash.notice
      = flash.notice
    = yield
