doctype html
html(data-theme='emerald')
  head
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = display_meta_tags default_meta_tags
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload', defer: true
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    = yield :js
  body.flex.bg-gray-50.overflow-y-scroll
    = render 'shared/header'
    main.flex-grow
      = yield
    = render 'shared/footer'
